<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfrombegining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Part10_Activity"/>
        <activity android:name=".Part9_1Activity" />
        <activity android:name=".Part9_2Activity" />
        <activity android:name=".Part9Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".part6" />
        <activity android:name=".part6_1" />
        <activity android:name=".part7" />
        <activity android:name=".part7_1" />
        <activity android:name=".part8" />
        <activity android:name=".part8_1" />
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>